In [1]:
# Create an empty list.
ls=[]

In [11]:
# Create a list and add an element to the end of this list.
ls1=[1,234,9.5]
ls1.append(5)
ls1

[1, 234, 9.5, 5]

In [13]:
print(ls1[3])

5

In [14]:
# Q4. Reverse the above created list.
print(ls1[::-1])

[5, 9.5, 234, 1]

In [16]:
# Q5. Sort the above created list.
ls1.sort()
ls1

[1, 5, 9.5, 234]

In [18]:
# Create a list of your top three favorite movies, then print the second movie title.
movie=["RRR","pathan","pusha"]
movie[1]

'pathan'

In [28]:
# Create a list of your favorite animals, then add a new animal to the list and print the updated list.
animals=["tiger","lion","monkey","donkey"]
# animals=animals.append("cat")
animals.insert(0,"cat")
animals

['cat', 'tiger', 'lion', 'monkey', 'donkey']

In [30]:
# Create a list of your favorite cities, then use the index() method to find the position of a specific city
# on the list and print it.
city=["pune","hyderabad","mumbai","chennai"]
i=city.index("hyderabad")
i

1